/*<!--  WEDTribue.css --> 
Justify-content options:
This is a Free Code Camp project
*/
#grid-container{
	
	display: grid;
	background-color: #2196F3;
	padding: 1%;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
	
}


#header{
	background-color: #e6f2ff;
	text-align: center;
	color: red;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 2em ;
	
}

h2{
    font-family: sans-serif;
	color: black;
	font-size:20px;
	background-color: #e6f2ff;
	
}


#main{
	background-color: #e6f2ff;
	text-align: center;
	padding-top: 8px;
}

#image{
	max-width: 100%;
	height: auto;
	text-align: center;
  display: block;
  margin: 0 auto;
	border-color: green;
    border-width: 6px;
    border-style: solid;
    border-radius: 25%;
}


#section{
	text-align: left;
	background-color: #e6f2ff;
	justify-content: left;
}

h3{
	font-family: sans-serif;
	color: black;
	justify-content: center;
}

#time-line{
	text-align: left;
}

#quote{
	color: #0000ff;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

a:hover {
	background-color: yellow;
	color: red;
}


#footer{
	background-color: #e6f2ff;
	
}
