/*<!--  WEDTribue.css --> 
Justify-content options:
This is a Free Code Camp project
*/
.grid-container{
	
	display: grid;
	grid-template-areas:
    'header header header'
    'menu main main main'
	'section section section'
    'footer footer footer';
	/*grid-gap: 2px;*/
	background-color: #2196F3;
	padding: 1%;
	justify-content: center;
	
}

h2{
    font-family: sans-serif;
	color: black;
	font-size:20px;
	background-color: #e6f2ff;
	
}

.header{
	background-color: #e6f2ff;
	text-align: center;
	color: red;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 2em ;
	
}

.main{
	background-color: #e6f2ff;
	text-align: center;
	padding-top:8px;
}

#image{
    border-color: green;
    border-width: 6px;
    border-style: solid;
    border-radius: 25%;
	text-align: center;
	
  
}
@media (max-width: 460px) {
#img-caption{
	text-align:center;
	margin: 3px;
	padding: 3px;
}

}
.section{
	text-align: left;
}
.quote{
	color: #0000ff;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

a:hover {
	background-color: yellow;
	color: red;
}


.footer{
	background-color: #e6f2ff;
	
}